# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#ignore the kubernetes directory
kubernetes/
#ignore the gitlab-ci file
.gitlab-ci.yml
/.scannerwork

# dependencies
/node_modules
/logs
package-lock.json
yarn.lock
/.pnp
.pnp.js
/logs

# testing
/package-lock.json
/public/version.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local


.eslintcache

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
